{% extends 'news/base.html' %}


{% block content %}
                <div class="col-md-8">
                    {% for item in news %}
                        <div class="card mb-3">
                            <div class="card-header">
                                Категория: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
                            </div>
                            <div class="media" style="display: flex;">
                                <div class="media-photo">
                                    {% if item.photo %}
                                    <img src="{{ item.photo.url }}" alt="photo" width="350" height="350">
                                    {% else %}
                                    <h6>Фото нет</h6>
                                    {% endif %}
                                </div>
                                <div class="media-body">
                                    <div class="card-body">
                                        <h5 class="card-title {% cycle 'text-success' 'text-danger' %}">
                                            {{ item.title }}
                                        </h5>
                                        {% autoescape off %}
                                        <p class="card-text">{{ item.content|truncatewords:60|linebreaks }}</p>
                                        {% endautoescape %}
                                        <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Читать полностью</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-body-secondary">
                                {{ item.created_at|date:'Y-m-d' }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
{% endblock %}

<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ category.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Добавить новость</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container mt-3">
        <h1>{{ category.title }}</h1>
        <div class="row">
            
            <div class="col-md-4">
                <div class="list-group">
                    {% for cat in categories %}
                        {% if cat.slug == cat_selected %}
                            <a class="list-group-item list-group-item-action disabled">
                                {{ cat.title }}
                            </a>
                        {% else %}
                            <a href="{{ cat.get_absolute_url }}" class="list-group-item list-group-item-action a">
                                {{ cat.title }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-8">
                {% for item in news %}
                    <div class="card mb-3">
                        <div class="card-header">
                            Категория: <a href="{% url 'category' item.category.slug %}">{{ item.category }}</a>
                        </div>
                        <div class="media" style="display: flex;">
                            <div class="media-photo">
                                {% if item.photo %}
                                <img src="{{ item.photo.url }}" alt="photo" width="350" height="350">
                                {% else %}
                                <h6>Фото нет</h6>
                                {% endif %}
                            </div>
                            <div class="media-body">
                                <div class="card-body">
                                    <h5 class="card-title {% cycle 'text-success' 'text-danger' %}">
                                        {{ item.title }}
                                    </h5>
                                    {% autoescape off %}
                                    <p class="card-text">{{ item.content|truncatewords:60|linebreaks }}</p>
                                    {% endautoescape %}
                                    <a href="#" class="btn btn-primary">Читать полностью</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-body-secondary">
                            {{ item.created_at|date:'Y-m-d' }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html> -->