{% load news_tags %}
<div class="col-md-4">
    <div class="list-group">
      {% get_categories as cats %}
        {% for cat in cats %}
            {% if cat.id == cat_selected %}
                <a class="list-group-item list-group-item-action disabled">
                    {{ cat.title }} 
                </a>
            {% else %}
                <a href="{{ cat.get_absolute_url }}" class="list-group-item list-group-item-action a">
                    {{ cat.title }} <span class="badge bg-primary rounded-pill">{{ cat.num_news }}</span>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>

